.root {
	-fx-background-color: #484848;
	-fx-font-size: 18pt;
}

.button {
	-fx-background-color: #7CAFC2;
	-fx-background-radius: 5;
}

.button-tehted {
	-fx-background-color: #BA8BAF;
	-fx-background-radius: 5;
}

.button-trigo {
	-fx-background-color: #86C1B9;
	-fx-background-radius: 5;
}

.textfield-arvutus {
	-fx-control-inner-background: #D8D8D8;
	-fx-background-radius: 5;
	-fx-font-size: 18pt;
	-fx-text-fill: #181818
}

.textfield-vastus {
	-fx-control-inner-background: #D8D8D8;
	-fx-background-radius: 5;
	-fx-font-size: 22pt;
	-fx-text-fill: #282828;
}

	
